<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" />
        <!--link rel="stylesheet" href="/static/dt/datatables.min.css" /-->
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <!--script src="/static/dt/datatables.min.js"></script-->
        {% block head %}{% endblock head %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="/static/img/logo_tmtk.png" class="navbar-brand"/></a>
                    <a class="navbar-brand" href="/">TMTK</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url('main_board') }}">MainBoard <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ url('partners') }}">Partners</a></li>
                    <li><a href="{{ url('expend') }}">Expends</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_anonymous %}
                    <li><a href="#">{{ user.email }}</a></li>
                    <li><a href="{{ url('logout') }}">Logout</a></li>
                    <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                    </li> -->
                    {% else %}
                        <li><a href="{{ url('login') }}">Login</a></li>
                    {% endif %}
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row">
                <div class="row">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>