{% extends "buh/layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/dx/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/static/dx/css/dx.light.css" />
    <script type="text/javascript" src="/static/dx/js/cldr.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/event.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/supplemental.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/cldr/unresolved.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/message.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/number.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/currency.min.js"></script>
    <script type="text/javascript" src="/static/dx/js/globalize/date.js"></script>

    <script type="text/javascript" src="/static/dx/js/dx.all.js"></script>
    <script type="text/javascript" src="/static/dx/js/localization/dx.messages.ru.js"></script>
    
    <script type="text/javascript" src="/static/index.js" ></script>
    <script type="text/javascript" src="/static/dx_datasources.js"></script>
{% endblock head %}

{% block content %}
    <h1>Контрагенты</h1>
    <table class="table table-striped" id="gridContainer">
    </table>
    <script>
        $(function(){
            
            $("#gridContainer").dxDataGrid({
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                editing: {
                    mode: "form",
                    allowAdding: true
                }, 
                dataSource: partners,
                columns: [
                    {
                        dataField: "name",
                        caption: "Контрагент",
                    }
                ]
            });
        });
    </script>
{% endblock content %}